extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner IS219 Final Project
        div.Message
            div.Title
                h3 Cities Records Database
            span.Details Access the Database Portal
        div.NavButtons
            if isAuthenticated
                a(href="/user")
                    div.NavButton My Profile
                a(href="/database")
                    div.NavButton View Records
                a(href="/logout")
                    div.NavButton Logout
            else
                a(href="/login")
                    div.NavButton Log in
